<!--<section>-->
<!--  <h2><%#= @dog.name %></h2>-->
  <%# @dog.images.each do |image| %>
    <%#= image_tag url_for(image), alt: "Photo of #{@dog.name}" %>
  <%# end %>
<!--  <p><%#= @dog.description %></p>-->
<!--</section>-->
<%
  images = @dog.images
  # binding.pry
%>

<!-- gallery -->
<div class="gallery">
  <div class="container">
    <h3 class="agileits-title"><%= @dog.name %></h3>
    <div class="gallery-agileinfo">
      <% images.each do |image| %>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 w3gallery-grids">
          <!--          <a href="images/g1.jpg" class="imghvr-hinge-right figure">-->
          <a href="<%= url_for(image) %>" class="imghvr-hinge-right figure">
            <!--            <img src="images/g1.jpg" alt="" title="Pets Care Image"/>-->
            <%#= image_tag image, class: "img-responsive", alt: ' ' %>
            <%#= image_tag image, alt: ' ' %>
            <%#= image_tag image, class: "img-responsive", alt: ' ', style: "width: 255px; height: 170px;" %>
            <%#= image_tag image, class: "img-responsive", alt: ' ', style: "width: 100%; height: auto; object-fit: cover;" %>
            <%#= image_tag image, class: "img-responsive", alt: ' ', style: "width: 100%; height: 170px; object-fit: cover;" %>
            <%= image_tag image, class: "img-responsive", alt: ' ', style: "width: 100%; height: 100%; object-fit: cover;" %>

            <div class="agile-figcaption">
<!--              <h4>Owner: <%#= @dog.user.first_name.present? ? @dog.user.first_name : "Unknown name (#{@dog.user.email})" %></h4>-->
              <h4>Owner: <%= @dog.try(:user).try(:first_name).present? ? @dog.user.first_name : "Unknown" %></h4>
              <p><%= @dog.description %></p>
            </div>
          </a>
        </div>
      <% end %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //gallery -->
<%#= "This doggy is #{@dog.likable_by?(current_user) ? '' : 'not'} likable" %>
<%= "This doggy has #{@dog.has_no_likes? ? 'no' : @dog.likes.length} likes" %>
<br>
<%= "This doggy has #{@dog.likes.length} likes" %>
<br>
<%= "This doggy has this #{@dog&.user&.email} owner" %>
<br>
<%= link_to "Edit #{@dog.name}'s Profile", edit_dog_path if @dog.editable_by?(current_user) %>
<br>
<%= link_to "Delete #{@dog.name}'s Profile", dog_path, method: :delete, data: { confirm: 'Are you sure?' } if @dog.destroyable_by?(current_user) %>
<br>
<%#= link_to "Like #{@dog.name}'s Profile", like_dog_path() if @dog.likable_by?(current_user) %>
<!--<a href="<%#= dog_path + "/like" %>"><%#= if @user_likes then "Unlike" else "Like" end %></a> <%#= "(#{@total_likes})" %><br>-->

<!--Good-->
<% if @dog.likable_by?(current_user) || @dog.dislikeable_by?(current_user) %>
<a href="<%= dog_path + "/like" %>"><%= if @dog.likable_by?(current_user) then "Like" else "Unlike" end %></a> <%= "(#{@dog.likes.length})" %><br>
  <% end %>


<!-- gallery -->
<!--<div class="gallery">-->
<!--  <div class="container">-->
<!--    <h3 class="agileits-title">Our Gallery</h3>-->
<!--    <div class="gallery-agileinfo">-->
<!--      <div class="col-sm-4 col-xs-6 w3gallery-grids">-->
<!--        <a href="images/g1.jpg" class="imghvr-hinge-right figure">-->
<!--          <img src="images/g1.jpg" alt="" title="Pets Care Image"/>-->
<!--          <div class="agile-figcaption">-->
<!--            <h4>Pets Care</h4>-->
<!--            <p>Add Some Description</p>-->
<!--          </div>-->
<!--        </a>-->
<!--      </div>-->
<!--      <div class="col-sm-4 col-xs-6 w3gallery-grids">-->
<!--        <a href="images/g2.jpg" class="imghvr-hinge-right figure">-->
<!--          <img src="images/g2.jpg" alt="" title="Pets Care Image"/>-->
<!--          <div class="agile-figcaption">-->
<!--            <h4>Pets Care</h4>-->
<!--            <p>Add Some Description</p>-->
<!--          </div>-->
<!--        </a>-->
<!--      </div>-->
<!--      <div class="col-sm-4 col-xs-6 w3gallery-grids">-->
<!--        <a href="images/g3.jpg" class="imghvr-hinge-right figure">-->
<!--          <img src="images/g3.jpg" alt="" title="Pets Care Image"/>-->
<!--          <div class="agile-figcaption">-->
<!--            <h4>Pets Care</h4>-->
<!--            <p>Add Some Description</p>-->
<!--          </div>-->
<!--        </a>-->
<!--      </div>-->
<!--      <div class="col-sm-4 col-xs-6 w3gallery-grids">-->
<!--        <a href="images/g4.jpg" class="imghvr-hinge-right figure">-->
<!--          <img src="images/g4.jpg" alt="" title="Pets Care Image"/>-->
<!--          <div class="agile-figcaption">-->
<!--            <h4>Pets Care</h4>-->
<!--            <p>Add Some Description</p>-->
<!--          </div>-->
<!--        </a>-->
<!--      </div>-->
<!--      <div class="col-sm-4 col-xs-6 w3gallery-grids">-->
<!--        <a href="images/g5.jpg" class="imghvr-hinge-right figure">-->
<!--          <img src="images/g5.jpg" alt="" title="Pets Care Image"/>-->
<!--          <div class="agile-figcaption">-->
<!--            <h4>Pets Care</h4>-->
<!--            <p>Add Some Description</p>-->
<!--          </div>-->
<!--        </a>-->
<!--      </div>-->
<!--      <div class="col-sm-4 col-xs-6 w3gallery-grids">-->
<!--        <a href="images/img1.jpg" class="imghvr-hinge-right figure">-->
<!--          <img src="images/img1.jpg" alt="" title="Pets Care Image"/>-->
<!--          <div class="agile-figcaption">-->
<!--            <h4>Pets Care</h4>-->
<!--            <p>Add Some Description</p>-->
<!--          </div>-->
<!--        </a>-->
<!--      </div>-->
<!--      <div class="clearfix"></div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- //gallery -->



<!-- projects -->
<!--<div class="portfolio" id="projects">-->
<!--  <div class="container">-->
<!--    <h3 class="w3l-title">My Projects</h3>-->
<!--    <div class="agileits_portfolio_grids">-->
<!--      <div class="col-md-3 agileits_portfolio_grid">-->
<!--        <div class="agileinfo_portfolio_grid hovereffect">-->
<!--          <a href=<%#= "#{asset_path url_for(@dog.images.first)}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, root route (local setup)">-->
<!--            <img src=<%#= "#{asset_path url_for(@dog.images.first)}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">-->
<!--            <div class="overlay">-->
<!--              <h4>Cuseum, Inc.</h4>-->
<!--              <p>spotzer-cms</p>-->
<!--            </div>-->
<!--          </a>-->

<%# @dog.images.each do |image| %>
<%#= image_tag url_for(image), alt: "Photo of #{@dog.name}" %>
<!--            <a href=<%#= "#{asset_path url_for(image)}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, login page"></a>-->
<%# end %>
<!--        </div>-->
<!--      </div>-->


<!--      <div class="clearfix"></div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- //projects -->