<section>
  <h2><%= @dog.name %></h2>

  <% @dog.images.each do |image| %>
    <%= image_tag url_for(image), alt: "Photo of #{@dog.name}" %>
  <% end %>

  <p><%= @dog.description %></p>

  <%#= link_to "Edit #{@dog.name}'s Profile", edit_dog_path %>
  <%= link_to "Edit #{@dog.name}'s Profile", edit_dog_path if @dog.editable_by?(current_user) %>
  <br>
  <%= link_to "Delete #{@dog.name}'s Profile", dog_path, method: :delete, data: { confirm: 'Are you sure?' } if @dog.destroyable_by?(current_user) %>
</section>



<%
  # samples = local_assigns.fetch(:samples)
  samples = @dog.images
%>

samples
<div class="portfolio" id="samples">
  <div class="container">
    <h3 class="w3l-title">&nbsp;&nbsp;&nbsp;Samples&nbsp;&nbsp;&nbsp;</h3>
    <div class="agileits_portfolio_grids">

      <% samples.each_slice(3) do |samples_slice| %>
        <div class="row">
          <% samples_slice.each do |sample| %>
            <div class="col-md-4 agileits_portfolio_grid">
              <div class="agileinfo_portfolio_grid hovereffect">
<%#= link_to "#{sample.url}", class: "#{sample.title.delete(' ').delete('.')}_url", target: "_#{sample.title.delete(' ').delete('.')}_url" do %>
                <%= link_to edit_dog_path, class: "test", target: "_test_url" do %>
                  <%#= image_tag sample.image, class: "img-responsive", alt: ' ', style: "width: 255px; height: 170px;" %>
                  <%= image_tag sample, class: "img-responsive", alt: ' ', style: "width: 255px; height: 170px;" %>
                  <div class="overlay">
<!--                    <h4><%#= sample.title %></h4>-->
                    <h4><%= 'Title' %></h4>
<!--                    <p><%#= sample.sub_title %></p>-->
                    <p><%= 'Subtitle' %></p>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="clearfix"></div>
    </div>
  </div>
</div>
//samples





<!-- projects -->
<div class="portfolio" id="projects">
  <div class="container">
    <h3 class="w3l-title">My Projects</h3>
    <div class="agileits_portfolio_grids">
      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path url_for(@dog.images.first)}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, root route (local setup)">
            <img src=<%= "#{asset_path url_for(@dog.images.first)}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Cuseum, Inc.</h4>
              <p>spotzer-cms</p>
            </div>
          </a>

          <% @dog.images.each do |image| %>
            <%= image_tag url_for(image), alt: "Photo of #{@dog.name}" %>
            <a href=<%= "#{asset_path url_for(image)}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, login page"></a>
          <% end %>
        </div>
      </div>


      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //projects -->